html, body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

ul {
    margin: 0;
    padding: 0;
    font-size: 20px;
    list-style: none;
    /*background: brown;*/
}

aside {
    /* flex: 1; */
    /* background-color: aqua; */
    background-color: rgb(243, 243, 243);
    text-align: center;
    width: 400px;
    height: 650px;
    border-radius: 10px;
}

.navigation-list {
    margin-top: 300px;
    /* background-color: darkolivegreen; */
}

.navigation-list__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation-list__item a {
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.navigation-list__item a:visited {
    color: black;
}

.navigation-list__item:not(:first-child) {
    padding-top: 10px;
}

.message-block__desription-text {
    font-size: 30px;
}

#chat-block {
    position: relative;
    /* flex: 2; */
    width: 900px;
    height: 650px;
    background-color: rgb(184, 223, 255);
    border-radius: 20px;
}

#chat-block__chat-members {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(194, 194, 194);
}

#chat-block__messages-area {
    width: 100%;

    /* background-color: aquamarine; */

}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 30px;
    /* padding-bottom: 35px; */

}

.send__text-input {
    box-sizing: border-box;
    width: 860px;
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: 1px solid silver;
    padding-left: 10px;
}

.send__button {
    box-sizing: border-box;
    width: 40px;
    height: 35px;
    border-radius: 10px;
    outline: none;
    border: 1px solid silver;
}
