body {
    padding: 0;
    margin: 0;
}

ul p, ul li {
    margin-left: 25px;
}

p {
    padding-top: 0;
    font-size: 24px;
    margin-left: 25px;
}

ul {
    margin: 0;
    padding: 0;
    font-size: 20px;
    /*background: brown;*/
}

.wrapper {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
    background: beige;
}

.request__list-items {
    list-style: none;
}

.user-accepted__list-items {
    list-style: none;
}

.friend-accepted__list-items {
    list-style: none;
}

.list__item {
    display: flex;
    flex-direction: row;
}

.list__item a {
    color: black;
    text-decoration: none;
}

aside {
    flex: 1;
    /* background-color: aqua; */
    background-color: rgb(243, 243, 243);
    text-align: center;
}

.friend-block {
    flex: 2;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*background: darkgoldenrod;*/
}

.navigation-list {
    margin-top: 300px;
    /* background-color: darkolivegreen; */
}

.navigation-list__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation-list__item a {
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.navigation-list__item a:visited {
    color: black;
}

.navigation-list__item:not(:first-child) {
    padding-top: 10px;
}