.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    /* background-color: green; */
}

.setting-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.setting__input,
.setting__button {
    width: 200px;
    height: 30px;
    margin-top: 10px;
}

.setting__input-email {
    width: 200px;
    height: 30px;
    margin-top: 10px;
    outline: 0;
}

.header {
    position: absolute;
    top: 100px;
    left: 50px;
    right: 50px;
    height: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(183, 183, 255);
}
.form-block__error {
    color: red;
}
.profile-image-upload {
    text-align: center;
    margin: 30px 0 0;
}