<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
    <link rel="stylesheet" th:href="@{/css/chats.css}">
</head>
<body>
<header class="header">Artem's Social network<a th:href="@{/logout}">Log out</a></header>
<div class="wrapper">
    <aside>
        <nav class="navigation-list">
            <ul class="navigation-list__items">
                <li class="navigation-list__item"><a th:href="@{/profile}">Home</a></li>
                <li class="navigation-list__item"><a th:href="@{/profile/chats}">Chats</a></li>
                <li class="navigation-list__item"><a th:href="@{/profile/friends}">Friends</a></li>
            </ul>
        </nav>
    </aside>
    <main class="main-block">
        <div class="messages-block">
            <div class="message-block__description-text">Messages</div>
            <ul id="message-block__people">
                <li th:each="Chat : ${Chats}" class="message-block__person">
                    <a th:href="@{/profile/chats/chat/{id}(id=${ChatRepo.findChatById(Chat.getChatId()).getId()})}"
                       th:text="${ChatRepo.findChatById(Chat.getChatId()).getName()}"></a>
                </li>
            </ul>
        </div>
    </main>
</div>
</body>
</html>